/* navigation section  */

#navbar {
    flex-direction: column;
    height: fit-content;
    /* align-items: center;
    align-content: center; */
}

#navbar ul li a {
    font-size: 0.5rem;
    padding: 0px 5px;
    padding-bottom: 8px;
    margin-right: 7px;
    opacity: 1.5;
}

#logo {
    align-self: flex-start;
}


/* home section  */

.vision {
    font-size: 0.8rem;
    text-align: justify;
    position: relative;
}

.welcome {
    position: relative;
}

#home {
    height: 700px;
    flex-direction: column;
    padding: 3px 28px;
    width: auto;
}

#home h1 {
    font-size: 1.5rem;
}

#home p {
    font-size: small;
    padding: 0;
    margin: 0;
}

#home p:hover {
    /* font-size: large; */
    padding-bottom: 15px;
}

#homepage {
    align-self: center;
}

.h-primary {
    font-size: 1.5rem;
    padding: 2px;
    text-align: center;
}


/* our services */

#services .box {
    /* flex-direction: column; */
    padding: 5px;
    margin: 5px;
    height: 80px;
}

#services {
    height: auto;
    display: grid;
}

.center {
    font-size: 0.7rem;
}


/* clients section  */


/* #clients {
    flex-wrap: wrap;
} */

.client-item a {
    font-size: medium;
}

#client-section p {
    font-size: 0.7rem;
}

#clients .client-item img {
    padding: 2px 6px;
    /* background-size: cover; */
    width: 300px;
    height: 200px;
}

.client-item img {
    padding: 2px 6px;
    /* background-size: cover; */
    width: 300px;
}


/* contact us  */

.contact-box a {
    padding: 1px;
    font-size: 8px;
}

#details .contact-box img {
    margin-left: 18px;
    margin-right: 18px;
}

.contact-box {
    margin: 2px;
    padding: 2px;
}

#contact {
    width: auto;
    height: 170px;
}

#details {
    width: auto;
    height: 150px;
}


/* footer  */

#footer1 {
    /* padding: 8px 18px; */
    width: auto;
    font-size: 8px;
    height: auto;
}

#footer1 a img {
    width: 100px;
    height: 80px;
}

#footer1 a {
    padding: 1px;
    margin-left: 1px;
    font-size: 0.7rem;
}


/* utility class */

.h-primary {
    font-size: 26px;
}

.info {
    text-align: justify;
    font-size: 0.7rem;
}

.welcome {
    font-size: 2rem;
    text-align: center;
}

#logo img {
    height: 76px;
    width: 130px;
}