* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 59px;
}


/* navbar logo and image */

#logo img {
    height: 80px;
    margin: 5px 6px;
    width: 160px;
}

#logo {
    margin: 5px 6px;
}


/* nav bar list styling */

#navbar ul {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

#navbar {
    /* opacity: 0.8; */
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(172, 234, 250);
    width: 100%;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    align-items: center;
}

#navbar ul li a {
    color: black;
    display: block;
    padding: 3px 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: whitesmoke;
    display: block;
    padding: 3px 12px;
    border-radius: 20px;
    text-decoration: none;
}

.box:hover {
    display: block;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

#services div:hover {
    background-color: rgb(172, 234, 250);
    border-radius: 10px;
    font-size: 1.5rem;
}

#home p:hover {
    color: white;
    background-color: rgb(172, 234, 250);
}


/* .box .info:hover {
    background-color: rgb(40, 169, 226);
    border-radius: 10px;
} */


/* home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url("images/background1.jpeg") no-repeat center; */
    width: 100%;
    height: 100%;
    height: 580px;
    background-size: cover;
    opacity: 2.0;
    top: 0;
    left: 0;
    color: black;
    text-decoration: none;
    background-color: #fff;
}

#home p {
    text-align: justify;
}


/* services container  */

#services {
    display: flex;
}

.services-container {
    background-color: #fff;
}

#services .box {
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    height: 30px;
    background-color: white;
    min-height: 250px;
}

client-section p {
    font-size: 0.8;
}

#services .box img {
    height: 42%;
    width: 90%;
    margin: 3px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#services #info {
    height: 45%;
    width: 90%;
    margin: 3px;
}

#services1 {
    display: flex;
}

#services1 .box {
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    height: 30px;
    max-width: 100%;
    background-color: white;
    opacity: 1.0;
    min-height: 320px;
}

#services1 .box img {
    height: 65%;
    width: 90%;
    margin: 3px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


/* our team  */

#client-section {
    /* background: url("images/7.jpeg"); */
    max-width: 100%;
    background-size: cover;
    align-items: center;
    height: auto;
    text-align: center;
    background-color: #fff;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item img {
    padding: 2px 6px;
    width: 750px;
    height: 300px;
    opacity: 3.5;
    /* background-size: cover; */
}


/* .client-item {
    height: 100px;
} */

.client-item p {
    text-align: center;
}

.client-item a {
    color: black;
    font-size: medium;
}


/* Contact Us  */

#contact {
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 98, 98);
}

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-section img {
    margin: 10px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.contact-box {
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-box a {
    color: black;
}

#vname p {
    font-size: large;
}

#flink a {
    font-size: large;
    color: black;
}

#facebook {
    display: inline-flex;
    align-items: center;
}

#details .contact-box img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 58px;
    margin-right: 58px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#details {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 250px;
    background-color: rgb(101, 98, 98)
}

.h-text {
    color: black;
}

.contact1 {
    justify-content: center;
    text-align: center;
}


/* utility classes */

#home h1 {
    color: black;
    text-align: center;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    /* align-items: center; */
}

#homepage {
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    color: black;
}

.h-secondary {
    font-size: 1.2rem;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
}


/* .btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: wheat;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
} */

.center {
    text-align: center;
    font-size: 0.8rem;
}

#footer1 {
    background-color: rgb(101, 98, 98);
    color: black;
    padding: 8px 18px;
    border-top: 2px;
    border-color: black;
    height: 330px;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
}

#footer1 a img {
    width: 230px;
    height: 135px;
}

#footer1 a {
    color: black;
    padding: 8px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    align-content: center;
}

#footer1 p {
    font-size: 1.3rem;
    background-color: rgb(101, 98, 98);
}


/* mission */

#mission .box {
    height: 280px;
}

#mission {
    background-color: #fff;
}

.h1name {
    font-size: 1.5rem;
    text-align: center;
}

.info {
    text-align: justify;
    font-size: 1rem;
}

.box p {
    margin: 10px;
}

.vision {
    font-size: 1.7rem;
    text-align: justify;
}

.welcome {
    font-size: 2.5rem;
    text-align: center;
}